/* Styling applied to all pages */

.md-toolbar-tools {
    background-color: #25B7D3;
    padding-left: 25px;
    padding-right: 25px;
}

.error {
    color: #c60008;
}

.success {
    color: #00c608;
}
