.login-area {
    width: 400px;
}

.login-area p {
    padding-top: 10px;
}

.login-area md-input-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-form {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-button {
    margin: auto;
    margin-top: 10px;
    display: block;
    background-color: #25B7D3 !important;
}

.login-image {
    width: 100px;
}